name: Build & Deploy Rust Libraries

on:
  #   push:
  #     branches:
  #       - master
  workflow_dispatch:

jobs:
  build_linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Install Rust -sys dependencies
        run: |
          sudo apt install libasound2-dev
          sudo apt install libdbus-1-dev pkg-config

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./rust

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          cache: true
      - run: flutter pub get

      - name: Build Linux Library
        run: |
          pip install requests
          python ./plugin_tool.py -b linux

      - name: Commit
        run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git fetch
          git pull --rebase --autostash
          git stash list | grep "stash" && git stash pop || echo "No stash found."
          git add .
          git commit -m "CD: Update Linux libs"
          git push

  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./rust

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          cache: true
      - run: flutter pub get

      - name: Build Android Libraries
        run: |
          pip install requests
          python ./plugin_tool.py -b android

      - name: Commit
        run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git fetch
          git pull --rebase --autostash
          git stash list | grep "stash" && git stash pop || echo "No stash found."
          git add .
          git commit -m "CD: Update Android libs"
          git push

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./rust

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          cache: true
      - run: flutter pub get

      - name: Build Windows Library
        run: |
          pip3 install requests
          python3 .\plugin_tool.py -b windows

      - name: Commit
        run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git fetch
          git pull --rebase --autostash
          git stash list | grep "stash" && git stash pop || echo "No stash found."
          git add .
          git commit -m "CD: Update Windows libs"
          git push

  build_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./rust

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          cache: true
      - run: flutter pub get

      - name: Build macOS Libraries
        run: |
          pip install requests
          python ./plugin_tool.py -b macos

      - name: Commit
        run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git fetch
          git pull --rebase --autostash
          git stash list | grep "stash" && git stash pop || echo "No stash found."
          git add .
          git commit -m "CD: Update macOS libs"
          git push

  build_ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./rust

      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          cache: true
      - run: flutter pub get

      - name: Build iOS Libraries
        run: |
          pip install requests
          python ./plugin_tool.py -b ios

      - name: Commit
        run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git fetch
          git pull --rebase --autostash
          git stash list | grep "stash" && git stash pop || echo "No stash found."
          git add .
          git commit -m "CD: Update iOS libs"
          git push

  squash:
    runs-on: ubuntu-latest
    needs: [build_linux, build_android, build_windows, build_macos, build_ios]
    steps:
      - uses: actions/checkout@v2
      - run: |
          git config --local user.email "erikastaroza@gmail.com"
          git config --local user.name "erikas-taroza"
          git pull
          git reset --soft HEAD~5
          git add .
          git commit -m "CD: Update libraries"
          git push -f
